node_modules
.pnpm-store
.DS_Store
*.log
dist
coverage
.swc

# Lerna updates and stages the root pnpm lockfile during versioning.
/packages/stylelint-taro-rn/yarn.lock
/packages/taro-rn-style-transformer/yarn.lock
/packages/taro-rn-runner/yarn.lock
